@keyframes tool-save-pending-animation {
	0% {
		background-color: #314a44;
	}
	50% {
		background-color: #189e7f;
	}
	100% {
		background-color: #314a44;
	}
}

.tool-save-pending {
	color: var(--font-col-alt);
	animation: tool-save-pending-animation 2s infinite linear;
}

.tool-block {
	display: inline-block;
}

.tool-label {
	min-width: 180px;
	display: inline-block;
	text-align: right;
}

.tool-icon {
	width: 65px;
	height: 65px;
}

.effect-dim {
	filter: brightness(50%);
}

.tool-block-hover:hover {
	background-color: #0000ff44;
}

.tool-block-active:active {
	animation: animation-button-press 0.1s;
}

.tool-grid-cell {
	display:inline-block;
	height:30px;
	font-size:18px;
	background:#00000000;
	color:var(--font-col);
	border:1px solid var(--font-col);
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	padding:0px;
	text-align:center;
}

.tool-grid-cell > img {
	height:30px;
	vertical-align:middle;
	float:left;
}

.tool-grid-select-cell {
	height:32px;
	appearance:none;
}

.tool-grid-select-cell > option {
	color:black;
	background:white;
}

.tool-score-text {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	font-size: 24px;
}
		
.tool-score-text {
	font-size: 18px;
	overflow:visible;
	white-space:wrap;
	text-overflow:clip;
}

.tool-btn-container {
	width: 100%;
	min-height: 50px;
	display:flex;
	align-items: center;
	justify-content: center;
}

.tool-btn {
	width: 45%;
	height: 40px;
	background: var(--main-bg);
	border-color: var(--font-col);
	border-radius: 5px;
	border-style: solid;
	border: none;
	outline: none;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: var(--font-col-alt);
	margin: 5px;
}

.tool-btn.active {
	outline: solid var(--active);
}

.tool-btn:hover {
	outline: solid var(--highlight);
}

.tool-btn:disabled {
	outline: none;
}

.tool-btn-label {
	width: 200px;
	font-size: 25px;
}

.tool-btn-select {
	background-color: var(--select);
	border: none;
	margin: 5px;
	font-size: 25px;
	flex-grow: 100;
	max-width: 390px;
}

.tool-big-grid {
	display:grid;
	grid-template-columns:180px repeat(4, calc((100% - 180px) / 4));
}

.tool-btn-maxwidth {
	max-width: 250px;
}

.tool-img-btn-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px; /* Space between items */
  width: 100%;
}

.tool-img-background {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.tool-img-btn {
	filter: brightness(50%);
	margin: 5px;
}

.tool-big-img-btn {
	width: 105px;
	height: 60px;
	min-width: 105px;
	min-height: 60px;
	max-width: 105px;
	max-height: 60px;
}

.tool-img-btn-active, .tool-img-btn:hover {
	filter: none;
}

.tool-tabs {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.tool-tab-radio {
	display: none;
}

.tool-tab-content {
	min-width: 90%;
	display: none;
}

#tool-tab-0:checked ~ #tool-content-0,
#tool-tab-1:checked ~ #tool-content-1,
#tool-tab-2:checked ~ #tool-content-2,
#tool-tab-3:checked ~ #tool-content-3,
#tool-tab-4:checked ~ #tool-content-4,
#tool-tab-5:checked ~ #tool-content-5,
#tool-tab-6:checked ~ #tool-content-6 {
	display: block;
}

.tool-tab-label {
	padding: 10px;
	margin: 5px;
	min-width: 0px; /* to negate tab button */
	min-height: 0px;
}

.tool-tab-radio:checked + .tool-tab-label {
	outline: solid var(--active);
}

.ccw-content {
	background-color: var(--main-bg-d);
}

.screen-test-result {
	background-color: #555555;
	color: white;
	display: block;
	margin: auto;
	padding: 20px;
	padding-top: 0;
	padding-bottom: 0;
	width: 450px;
}

/* mobile/tablet layout */
@media (hover: none) or (pointer: coarse) {
	@media (orientation: portrait) {
		.tool-grid-cell {
			height:40px;
			font-size:14px;
		}
		
		.tool-grid-cell > img {
			height:40px;
		}
		
		.tool-grid-select-cell {
			height:42px;
		}
		
		.tool-grid-row-name {
			overflow:visible;
			white-space:wrap;
			text-overflow:clip;
		}

		.tool-btn-label {
			width: 100px;
			font-size: 20px;
		}

		.tool-btn-select {
			margin: 5px;
			font-size: 20px;
			max-width: 260px;
			height:30px;
		}
		
		.tool-score-text {
			font-size: 14px;
		}
		
		.tool-big-grid {
			display:grid;
			grid-template-columns:120px repeat(4, calc((100% - 120px) / 4));
		}
	}
	@media (orientation: landscape) {
	}
}